body {
    height: 100%;
    width: 100%;
}

/* footer {
    position: sticky;
    bottom: 0;
    width: 100%;
} */

/* .hero-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

.hero-landing {
    background: url(../img/main.jpg) center;
    background-size: cover;
}

.div-pai {
    height: 100vh;
}

.div-principal {
    min-height: 100%;
}

.input-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 25px;
}

.card {
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 30% 0px 30%;
    }
}
