body {
    height: 100%;
    width: 100%;
}

/* footer {
    position: sticky;
    bottom: 0;
    width: 100%;
} */

/* .hero-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

.hero-landing {
    background: url(../img/main.jpg) center;
    background-size: cover;
}
